.main{
    display: flex;
    flex-flow: row nowrap;
}
.leftSide{
    height: 100vh;
    max-width: 250px;
    flex: 1 1 250px;

    display: flex;
    flex-flow: column nowrap;
}
.filterWrapper{
    flex: 1 1 100px;
}
.listWrapper{
    flex: 1 1 auto;
    max-height: 95%;
    overflow: scroll;
}
.mapViewPort{
    flex: 1 1 auto;
}
.list-group-item{
    margin-top: -2px;
    margin-bottom: 5px;
}